h1 {
    justify-content: center;
    align-items: center;
    display: flex;
}

.grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-top: 20px;
}

.grid {
    width: 600px;
    height: 600px;
    display: grid;
    z-index: 100;
}

.buttons {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.blackbtn {
    width: 100px;
    height: 50px;
}

.autumnbtn {
    width: 100px;
    height: 50px;
}

.rainbowbtn {
    width: 100px;
    height: 50px;
}

.clearbtn {
    width: 100px;
    height: 50px;
}

.sizebtn {
    width: 100px;
    height: 50px;
}

.box {
    border: 1px solid grey;
    border-radius: 1px;
}
